@import "./styles/variables";

.h1{
  font-weight: 500;
  font-size: 1.625rem;
  line-height: 2.1875rem;
}

.h2{
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
}

.h3{
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}